# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Streamlit Cache
# ==========================
.streamlit/cache/

# ==========================
# Downloaded Files
# ==========================
downloades/

# ==========================
# Generated Vector Database
# ==========================
vector_db/

# ==========================
# Temporary Files
# ==========================
*.log
*.tmp
*.temp

# ==========================
# Audio / Video Files
# ==========================
*.mp3
*.wav
*.m4a
*.mp4
*.webm

# ==========================
# Model Cache
# ==========================
.cache/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db